<div layout="column">
    <img class="gulleggHeader" src="./assets/gullegg.jpg" alt="Gulleggið"/>
    <div layout="column" class="promoDiv">
        <p> Þessi tækni er ekki enn til... En þú gætir fundið eitthvað eins flott og þetta upp í Gullegginu 2016! </p>
        <div layout="row" class="promoButtons">
            <md-button class="md-raised md-primary" aria-label="Gulleggið" ng-click="gulleggLink()"> Gulleggið </md-button>
            <md-button class="md-raised backButton md-warn" ng-click="back()"> Til baka </md-button>
        </div>
    </div>
</div>
